.app-sejarah{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    h3{
        font-size: 40px;
        text-transform: uppercase;
        text-decoration: underline;

    }
    img{
        width: 700px;
        height: 300px;
        object-fit: cover;
    }
}